.create-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    h4{
        font-weight: 700;
        margin-top: 50px;
    }
    .label-img{
        height: 40px;
        width: 200px;
        background-color: orange;
        font-weight: 700;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .form-control{
        width: 80%;
    }
    .list-img{
        height: 350px;
        width: 90%;
        background-color: #f9f9f9;
    }
    .content{
        width: 90%;
    }
    .margin-ctm{
        margin: 20px;
    }
    .save{
        width: 90%;
        button{
            float: right;
            margin: 30px;
            background-color: #000;
            border-radius: 0;
        }
    }
    option{
        font-weight: 700;
        font-size: 0.9;
    }
}