.admin{
    width: 100%;
    
    .content-admin{
        margin-top: 20px;
        width: 100%;
        text-align: center;
        align-items: center;
        h5{
            font-weight: 750;
        }
    }
}